@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: "Poppins", sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: #fcfcfc;
    color: #313131;
    transition: all 0.3s;
}

.highlight {
    color: #f39c12;
}

.container {
    min-height: 100svh;
    width: 100%;
    max-width: 1020px;
}

.toggleContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px 35px;
}

#toggleButton {
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    padding: 12px;
    transition: all 0.3s;
}

#gridIcon,
#squareIcon {
    transition: all 0.3s;
}

#toggleButton:hover #gridIcon,
#toggleButton:hover #squareIcon {
    color: #f39c12;
}

#toggleButton:hover {
    border-radius: 100%;
    background-color: #f7f7f7;
}

#calendarContainer {
    border: 1px solid #ddd;
    padding: 25px;
    margin: 0px 50px;
    border-radius: 25px;
    transition: all 0.3s;
}

#calendarContainer:hover {
    border: 1px solid transparent;
}

#calendarContainer table {
    width: 100%;
    margin: 0 auto;
    border: 4px solid transparent;
    table-layout: fixed;
}

#calendarContainer th,
#calendarContainer td {
    width: 100%;
    height: 75px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.3s;
}

#calendarContainer td:hover {
    background-color: #f4f4f4;
}

.buttonContainer {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
#monthName {
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    transition: all 0.3s;
}
#toggleButton {
    font-size: 24px;
    cursor: pointer;
}

#previous,
#next {
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px 12px;
    transition: all 0.3s;
}

#previous:hover,
#next:hover {
    border-radius: 100%;
    background-color: #f4f4f4;
    color: #f39c12;
}

.miniCalendar {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.miniCalendar:hover {
    border: 1px solid #f39c12;
}

.miniCalendar-header {
    font-weight: bold;
    text-align: center;
    background: #f7f7f7;
    width: auto;
    border-radius: 10px;
    padding: 10px 0px;
    margin-bottom: 20px;
}
.miniCalendar table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.miniCalendar th,
.miniCalendar td {
    font-size: 12px;
    text-align: center;
    border: 1px solid transparent;
    width: 100%;
    height: 20px;
}
.holiday {
    background-color: #f4f4f4;
    font-weight: bold;
    cursor: pointer;
}

#calendarContainer table .holiday {
    transition: all 0.3s;
}

.holiday:hover {
    background-color: #fcfcfc;
}

#calendarContainer table .holiday:hover {
    background-color: #fcfcfc;
}

.holiday.regular {
    color: #f39c12;
}

.holiday.sepcialNonWorking {
    color: #1465bd;
}

.holiday.specialWorking {
    color: #b9401b;
}

.holiday.specialObservance {
    color: #319131;
}

.holiday.religious {
    color: #552285;
}

.holiday.national {
    color: #7a1919;
}

.holiday.season {
    color: #196f7a;
}

.footer {
    margin-top: 50px;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: small;
}

#calendarTitle {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 0 0 30px 0;
    transition: all 0.3s;
}

.monthGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Default: 3 columns */
    grid-template-rows: repeat(4, 1fr); /* 4 rows */
    grid-gap: 20px;
    padding: 0px 50px;
}

@media (max-width: 900px) {
    .monthGrid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 15px;
    }
}

@media (max-width: 600px) {
    .monthGrid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
    }

    #calendarContainer table {
        font-size: 13px;
    }

    #calendarContainer th,
    #calendarContainer td {
        height: 55px;
    }

    #monthName {
        width: 100px;
        font-size: 20px;
    }

    #calendarTitle {
        font-size: 30px;
    }

    .footer {
        font-size: 12px;
        gap: 2px;
    }
}
